<div class="row">
    <div class="col">
        <button [routerLink]="['/configuracion/crearNomenclador']" type="button" class="btn btn-lg btn-success m-4">Crear Nomenclador</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-table [tableData]=this.nomencladoresMockedData></app-table>
    </div>
</div>

<div class="row">
    <div class="col">
        <button [routerLink]="['/configuracion']" type="button" class="btn btn-secondary btn-md">Volver</button>
    </div>
</div>