.jumbotron-modified::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.35;
    background-image: url("../../../assets/img/login-carousell-3.jpg");
    background-position: center;
    background-size: cover;
}

.jumbotron-modified {
    position: relative;
    background-color: #000;
}