<main role="main" class="container mt-4">
    <div class="card  bg-light">
        <div class="card-body ">
            <h3 class="display-4">Editar Parámetro</h3>
            <form #formEditarParametro="ngForm" (ngSubmit)="onSubmitParametro(formEditarParametro)">
                <div class="form-group">
                    <label for="nameInput" >Nombre *</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nameHelp" placeholder="Ingrese nombre" [(ngModel)]="parametroAEditar.parametro.nombre"  required #nameField="ngModel" [class.field-error]="formEditarParametro.submitted && nameField.invalid">
                    <div [hidden]="!formEditarParametro.submitted || nameField.valid" class="alert alert-danger">
                        Ingrese un nombre
                    </div>
                </div>

                <div class="form-group">
                    <label for="parametroInput" class=" col-form-label">Tipo Parametro * </label>
                    <div class="input-group ">
                        <select [(ngModel)]="parametroAEditar.tipoParametro.id" class="custom-select" id="tipoParametro" name="tipoParametro" >
                            <option *ngFor="let tipoParametroSelectArray of tiposParametrosSelectArray" [value]="tipoParametroSelectArray.id">
                                {{ tipoParametroSelectArray.nombre }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="parametroInput" class=" col-form-label">Tipo Dato * </label>
                    <div class="input-group ">
                        <select [(ngModel)]="parametroAEditar.tipoDato.id" class="custom-select" id="tipoParametro" name="tipoParametro" >
                                <option *ngFor="let tipoDatoSelectArray of tiposDatosSelectArray" selected="tipoDatoSelectArray.id==parametroAEditar.tipoDato.id" [value]="tipoDatoSelectArray.id">
                                    {{ tipoDatoSelectArray.nombre }}
                                </option>
                        </select>
                    </div>
                </div>

                
                <div class="form-group form-check">
                    <div class="custom-control custom-checkbox">
                        <input [(ngModel)]="parametroAEditar.parametro.isActiv" type="checkbox" class="custom-control-input" id="isActiv" name="isActiv" >
                        <label class="custom-control-label" for="isActiv">Activo</label>
                    </div>
                </div>


                <div class="form-group row">
                    <app-table-pane [titleText]="'Opciones *'" [rows]="this.tiposOpcionesSelect" [(output)]="this.optionsList" [buttonAddText]="'Agregar Opcion'"></app-table-pane>

                </div>
                
                <div [hidden]="!postSuccess" class="alert alert-success alert-dismissible" role="alert">
                    ¡ Nomenclador Creado !
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="alert alert-light italic" role="alert">
                    Los campos marcados con * son obligatorios.
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <div [hidden]="!postError" class="alert alert-danger">
                            {{ postErrorMessage }}
                        </div>
                        <button type="button" class="btn btn-warning btn-lg float-right mr-5" (click)="imprimir()">imprimir</button>
                        <button type="submit" class="btn btn-success btn-lg float-right mr-5">Crear</button>
                        <button [routerLink]="['/configuracion/listarParametros']" type="button" class="btn btn-secondary btn-lg float-left ml-5">Volver</button>
                    </div>
                </div>
            </form>
    
        </div>
    </div>
</main>

<pre>
originalParametroAEditar: {{ originalParametroAEditar | json }}
</pre>
<pre>
parametroAEditar: {{ parametroAEditar | json }}
</pre>