<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading" routerLink="home" routerLinkActive="active" style="cursor: pointer;" >AgronoMe <img src="../../../assets/img/Logo AgronoMe.png" width="100px" alt=""> </div>
    <div class="list-group ">
        <button type="button"  disabled routerLink="/finca" routerLinkActive="active" class="list-group-item list-group-item-action">Finca </button>
        <button type="button" disabled routerLink="/planificacion" routerLinkActive="active" class="list-group-item list-group-item-action">Planificación</button>
        <button type="button" routerLink="/actividades" routerLinkActive="active" class="list-group-item list-group-item-action"><b>Actividades</b></button>
        <button type="button" disabled routerLink="/recomendaciones" routerLinkActive="active" class="list-group-item list-group-item-action">Recomendaciones</button>
        <button type="button" disabled routerLink="/reportes" routerLinkActive="active" class="list-group-item list-group-item-action">Reportes</button>
        <button type="button" disabled routerLink="/recursos" routerLinkActive="active" class="list-group-item list-group-item-action">Recursos</button>
        <button type="button" disabled routerLink="/seguridad" routerLinkActive="active" class="list-group-item list-group-item-action">Seguridad</button>
        <button type="button" routerLink="/configuracion" routerLinkActive="active" class="list-group-item list-group-item-action"><b>Configuración</b></button>
    </div>
</div>

<!-- /#sidebar-wrapper-->