<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">AgronoMe </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Finca [nombre]</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Planificación</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Actividades</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Recomendaciones</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Reportes</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Recursos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Seguridad</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->