<main role="main" class="container mt-4">
    <h1 class="display-4">Planificacion</h1>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title ml-4">
                        <h4>Planificacion Inicial<b></b></h4>
                    </div>
                    <form [formGroup]="planificacionInicialForm" *ngIf="planificacionInicialForm != null">
                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4">
                                <label for="cultivoInicial"><b>Tipo de cultivo</b></label>
                                <input type="text" class="form-control text-capitalize" id="cultivoInicial" readonly
                                    formControlName="nombreTipoCultivo">
                            </div>
                            <div class="form-group col-md-5 ml-4">
                                <label for="variedadCultivo">Variedad <b></b></label>
                                <input type="text" class="form-control text-capitalize" id="variedadCultivo"
                                    formControlName="variedadCultivo" readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4 ">
                                <label for="produccionCultivo">Producción esperada (Tn)<b></b></label>
                                <input type="number" class="form-control" id="produccionCultivo"
                                    formControlName="produccionEsperada" min="0" readonly>
                            </div>
                            <div class="form-group col-md-5 ml-4 ">
                                <br>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cicloUnico"
                                        formControlName="cicloUnico" readonly onclick="return false;" />
                                    <label class="custom-control-label" for="cicloUnico" readonly>Ciclo único
                                        <b></b></label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-body">
                        <table class="table table-hover table-sm" *ngIf="this.planificacionInicialForm != null">
                            <thead>
                                <tr>
                                    <th scope="col">Cuadros elegidos por el Encargado de finca:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let parcela of this.planificacionInicialForm.value.cultivos.parcelas">
                                    <td>
                                        <p class="font-weight-bold">
                                            Parcela: {{ parcela.nombreParcela }}
                                        </p>
                                        <div>
                                            <span *ngFor="let cuadro of parcela.cuadros" class="mr-2"
                                                style="font-size:14px;">
                                                {{ cuadro.nombreCuadro}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content" *ngIf="true">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title ml-4">
                        <h4>Planificacion Supervisada<b></b></h4>
                    </div>
                    <form [formGroup]="planificacionSupervisadaForm" *ngIf="planificacionSupervisadaForm != null">

                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4">
                                <label for="cultivoInicial">Seleccione un tipo de cultivo <b>*</b></label>
                                <input type="text" class="form-control text-capitalize" id="cultivoInicial" readonly
                                    formControlName="nombreTipoCultivo">
                                <ng-template #loading1>
                                    <button class="btn btn-info" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Cargando...
                                    </button>
                                </ng-template>
                            </div>
                            <div class="form-group col-md-5 ml-4">
                                <label for="variedad">Variedad <b>*</b></label>
                                <input type="text" class="form-control" id="variedad" formControlName="variedadCultivo"
                                    readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4 ">
                                <label for="produccion">Producción esperada (Tn) <b>*</b></label>
                                <input type="number" class="form-control" id="produccion"
                                    formControlName="produccionEsperada" readonly>
                            </div>
                            <div class="form-group col-md-5 ml-4 ">
                                <br>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cicloUnicoSup"
                                        formControlName="cicloUnico" readonly onclick="return false;">
                                    <label class="custom-control-label" for="cicloUnicoSup">Ciclo único <b>*</b></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10 ml-4 ">
                                <label>Observaciones</label>
                                <textarea class="form-control" aria-label="With textarea"
                                    formControlName="comentarioPlanificacion" readonly></textarea>
                            </div>
                        </div>
                    </form>

                    <div class="card-body">
                        <div class="card-body">
                            <table class="table table-hover table-sm" *ngIf="this.planificacionSupervisadaForm != null">
                                <thead>
                                    <tr>
                                        <th scope="col">Cuadros elegidos por el Encargado de finca:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let parcela of this.planificacionSupervisadaForm.value.cultivos.parcelas">
                                        <td>
                                            <p class="font-weight-bold">
                                                Parcela: {{ parcela.nombreParcela }}
                                            </p>
                                            <div>
                                                <span *ngFor="let cuadro of parcela.cuadros" class="mr-2"
                                                    style="font-size:14px;">
                                                    {{ cuadro.nombreCuadro}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title ml-4">
                        <h4>Planificacion Finalizada<b></b></h4>
                    </div>
                    <form [formGroup]="planificacionFinalizadaForm" *ngIf="planificacionFinalizadaForm != null">

                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4">
                                <label for="cultivoInicial">Seleccione un tipo de cultivo <b>*</b></label>
                                <input type="text" class="form-control text-capitalize" id="cultivoInicial" readonly
                                    formControlName="nombreTipoCultivo">
                                <ng-template #loading1>
                                    <button class="btn btn-info" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Cargando...
                                    </button>
                                </ng-template>
                            </div>
                            <div class="form-group col-md-5 ml-4">
                                <label for="variedad">Variedad <b>*</b></label>
                                <input type="text" class="form-control" id="variedad" formControlName="variedadCultivo"
                                    readonly>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4 ">
                                <label for="produccion">Producción esperada (Tn) <b>*</b></label>
                                <input type="number" class="form-control" id="produccion"
                                    formControlName="produccionEsperada" readonly>
                            </div>
                            <div class="form-group col-md-5 ml-4 ">
                                <br>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cicloUnicoFinal"
                                        formControlName="cicloUnico" readonly onclick="return false;">
                                    <label class="custom-control-label" for="cicloUnicoFinal">Ciclo único
                                        <b>*</b></label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-body">
                        <div class="card-body">
                            <table class="table table-hover table-sm" *ngIf="this.planificacionSupervisadaForm != null">
                                <thead>
                                    <tr>
                                        <th scope="col">Cuadros elegidos por el Encargado de finca:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let parcela of this.planificacionSupervisadaForm.value.cultivos.parcelas">
                                        <td>
                                            <p class="font-weight-bold">
                                                Parcela: {{ parcela.nombreParcela }}
                                            </p>
                                            <div>
                                                <span *ngFor="let cuadro of parcela.cuadros" class="mr-2"
                                                    style="font-size:14px;">
                                                    {{ cuadro.nombreCuadro}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <button class="btn btn-primary float-right" [routerLink]="['/actividades/libroDeCampo']"
                                >Ir a libros de campo</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" class="btn btn-danger btn-lg float-left"
                [routerLink]="['/planificacion/listarGrupos']"> Volver
            </button>
        </div>
    </div>

</main>