<main role="main" class="container mt-4">
    <div class="card  bg-light">
        <div class="card-body ">
            <div>
                <h3 class="display-4">Nuevo Nomenclador</h3>
            </div>
            <form>
                <div class="form-group">
                    <label for="nameInput">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nameHelp" placeholder="Ingrese nombre" disabled [(ngModel)]="nameInput">
                </div>
                <div class="form-group">
                    <label for="parametroInput" class=" col-form-label">Tipo Nomenclador</label>
                    <div class="input-group ">
                        <select [(ngModel)]="tipoNomenclador" class="custom-select" id="tipoNomenclador" disabled name="tipoNomenclador">
                                <option selected value="0">estadoPlanificacion</option>
                                <option value="1">tipoActividad</option>
                           </select>
                    </div>
                </div>

                <div class="form-group form-check">
                    <div class="custom-control custom-checkbox">
                        <input [(ngModel)]="isActiv" type="checkbox" class="custom-control-input" id="isActiv" disabled name="isActiv">
                        <label class="custom-control-label" for="isActiv">Activo</label>
                    </div>
                </div>
                <div class="alert alert-success alert-dismissible fade show invisible" id="alerta" role="alert">
                    A simple success alert—check it out!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                       <!--  <button type="button" class="btn btn-success btn-lg float-right mr-5 disabled" (click)="this.crearNomenclador()">Crear</button> -->
                        <button type="button" class="btn btn-info btn-lg float-right mr-5" (click)="this.getNomenclador()">get</button>
                        <button type="button" class="btn btn-info btn-lg float-right mr-5" (click)="this.postNomenclador()">post</button>
                        <button [routerLink]="['/configuracion/listarNomencladores']" type="button" class="btn btn-secondary btn-lg float-left ml-5">Volver</button>
                    </div>
                </div>
                <div class="alert alert-info" role="alert">
                    Para visualizar el resultado de los botones post y get debemos ver la consola. Cabe aclarar que para el post se utiliza datos random predefinidos.
                </div>
            </form>

        </div>
    </div>
</main>