<div class="row">
    <div class="col">
        <button [routerLink]="['/configuracion/crear-parametro']" type="button" class="btn btn-lg btn-success m-4">Crear Parámetro</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-table [tableData]="this.parametrosMockedData"></app-table>
    </div>
</div>

<div class="row">
    <div class="col">
        <button [routerLink]="['/configuracion']" type="button" class="btn btn-secondary btn-md">Volver</button>
    </div>
</div>