<a class="btn btn-success btn-lg m-3" routerLink="/actividades/registrarActividad" routerLinkActive="active" role="button">Registrar Actividad</a>

<div class="card-deck row " *ngIf="librosDeCampo != [] > 0" >
    <div class="card border-gray col-md m-2" *ngFor="let libro of librosDeCampo" style="min-width: 300px;">
        <div class="card-header">Libro de Campo: {{libro[0]}}</div>
        <div class="card-body text-dark">
            <p><b>Fecha de creación:</b> {{libro[1]}} </p>
            <a [routerLink]="libro[2]" class="btn btn-primary">Ver</a>
        </div>

    </div>
</div>