<main role="main" class="container mt-4">
    <h1 class="display-4">Planificacion Inicial</h1>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title ml-4">
                        <h4>Cultivo<b></b></h4>
                    </div>
                    <form [formGroup]="planificacionForm" (ngSubmit)="onSubmit()" *ngIf="planificacionForm != null">
                        <div *ngIf="planificacionForm.controls.cultivos != null" >

                            <div formArrayName="cultivos"  *ngFor="let item of planificacionForm.controls.cultivos?.value; let i = index;"  >
                                <div [formGroupName]="i" >

                                    <div class="form-row">
                                        <div class="form-group col-md-5 ml-4">
                                            <label for="cultivoInicial">Seleccione un tipo de cultivo <b>*</b></label>
                                            <select class="custom-select text-capitalize" id="cultivoInicial"
                                                *ngIf="tipoCultivoArray != '' else loading1"
                                                (click)="procesarTipoCultivo($event)" >
                                                <option *ngFor="let tipoCultivo of tipoCultivoArray" [value]="tipoCultivo[0]"
                                                    class="text-capitalize">
                                                    {{tipoCultivo[1]}}</option>
                                            </select>
                                            <ng-template #loading1>
                                                <button class="btn btn-info" type="button" disabled>
                                                    <span class="spinner-border spinner-border-sm" role="status"
                                                        aria-hidden="true"></span>
                                                    Cargando...
                                                </button>
                                            </ng-template>
                                        </div>
                                        <div class="form-group col-md-5 ml-4">
                                            <label for="variedadCultivo">Variedad <b>*</b></label>
                                            <input type="text" class="form-control" id="variedadCultivo"
                                                placeholder="Ingrese la variedad del cultivo." formControlName="variedadCultivo" >
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-5 ml-4 ">
                                            <label for="produccionCultivo">Producción esperada (Tn) <b>*</b></label>
                                            <input type="number" class="form-control" id="produccionCultivo"
                                                placeholder="Ingrese producción esperada." formControlName="produccionEsperada" >
                                        </div>
                                        <div class="form-group col-md-5 ml-4 ">
                                            <br>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="cicloUnico" formControlName="cicloUnico" >
                                                <label class="custom-control-label" for="cicloUnico">Ciclo único
                                                    <b>*</b></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-body">
                        <button type="button" class="btn btn-sm btn-success m-3 float-left"
                            (click)="agregarCuadros()">Añadir
                            Parcelas</button>
                        <!-- <app-table [tableData]="this.tablaParcelaArray" *ngIf="true || mostrarTablaParcelas  else loading1">
                        </app-table> -->

                        <table class="table table-hover table-sm" *ngIf="this.planificacionForm != null">
                            <thead>
                                <tr>
                                    <th scope="col">Seleccione sus cuadros:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let parcela of this.planificacionForm.value.parcelas">
                                    <td>
                                        <p class="font-weight-bold">
                                            Parcela: {{ parcela.nombre }}
                                        </p>
                                        <div>
                                            <span *ngFor="let cuadro of parcela.cuadros.controls" class="mr-2">
                                                <input type="checkbox" name="" id="" [value]="cuadro.value.codCuadro">
                                                {{ cuadro.value.nombreCuadro}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-warning" (click)="imprimir()"> imprimir()</button>



                        <ng-template #loading1>
                            <br>
                            <button class="btn btn-info" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Cargando...
                            </button>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div [hidden]="!postError" class="alert alert-danger">
                {{ postErrorMessage }}
            </div>
            <button type="button" class="btn btn-danger btn-lg float-left"
                [routerLink]="['/planificacion/listarGrupos']"> Volver
            </button>
            <button type="button" class="btn btn-success btn-lg float-right" (click)="onSubmit()">
                Guardar</button>
        </div>
    </div>
</main>