<main role="main" class="container mt-4">
    <h1 class="display-4">Planificacion Inicial</h1>
    <div class="content">
        <div class="row"  *ngIf="mostrarCultivo">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-title ml-4">
                        <h4>Cultivo<b></b></h4>
                    </div>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4">
                                <label for="cultivoInicial">Seleccione un tipo de cultivo <b>*</b></label>
                                <select class="custom-select" id="cultivoInicial"
                                    *ngIf="dummyDataCultivo != '' else loading1">
                                    <option *ngFor="let cultivo of dummyDataCultivo">
                                        {{cultivo}}</option>
                                </select>
                                <ng-template #loading1>
                                    <button class="btn btn-info" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Cargando...
                                    </button>
                                </ng-template>
                            </div>
                            <div class="form-group col-md-5 ml-4">
                                <label for="variedadCultivo">Variedad <b>*</b></label>
                                <input type="text" class="form-control" id="variedadCultivo"
                                    placeholder="Ingrese la variedad del cultivo.">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5 ml-4 ">
                                <label for="produccionCultivo">Producción esperada<b>*</b></label>
                                <input type="number" class="form-control" id="produccionCultivo"
                                    placeholder="Ingrese producción esperada.">
                            </div>
                            <div class="form-group col-md-5 ml-4 ">
                                <br>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cicloUnico">
                                    <label class="custom-control-label" for="cicloUnico">Ciclo único <b>*</b></label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="card-body">
                        <button type="button" class="btn btn-sm btn-success m-3 float-left"
                            (click)="agregarCuadros()">Añadir
                            Parcelas</button>
                        <app-table [tableData]="this.parcelaArray" *ngIf="mostrarTablaParcelas  else loading1">
                        </app-table>
                        <ng-template #loading1>
                            <br>
                            <button class="btn btn-info" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Cargando...
                            </button>
                        </ng-template>

                        <button type="button" class="btn btn-sm btn-danger m-3 float-right"
                            (click)="quitarCultivo()">Quitar
                            Cultivo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-sm btn-success m-3" (click)="agregarCultivo()">Añadir
                    Cultivo</button>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <div [hidden]="!postError" class="alert alert-danger">
                {{ postErrorMessage }}
            </div>
            <button type="button" class="btn btn-danger btn-lg float-left"> Volver
            </button>
            <button type="button" class="btn btn-success btn-lg float-right" (click)="onSubmit()" >
                Guardar</button>
        </div>
    </div>
</main>