<main role="main" class="container mt-4">
    <h1 class="display-4">Planificaciones</h1>
    <div class="row">
            <div class="col">
                <button *ngIf="rol != 'ingeniero'" [routerLink]="['/planificacion/inicial']" type="button"
                    class="btn btn-lg btn-success m-4">Crear Planificacion inicial</button>
            </div>
    </div>
    <form>
        <div class="m-3">
            <div class="card-columns">
                <div>
                    <div class="card border-gray col-3 m-3 text-center" style="min-width: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <b>Grupo 1</b>
                            </h5>
                            <button class="btn btn-primary text-light">Ver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>