<main role="main" class="container mt-4">
    <!-- actividad  -->
    <div class="card m-3" *ngIf="actividadForm != null" [formGroup]="actividadForm">
        <div class="card-header">
            <b>
                Actividad
                {{ actividadForm.value.nombreActividad.charAt(0).toUpperCase() +  actividadForm.value.nombreActividad.slice(1) }}
            </b>
        </div>
        <div class="card-body">

            <div class="form-group row">
                <label for="fecha" class="col-sm-5 col-form-label text-right"><b>Fecha y hora:</b>
                </label>
                <div class="col-sm-5 col-form-label">
                    <p>{{actividadForm.value.fchActivDetalle}}</p>

                </div>
            </div>
            <div *ngFor="let parametro of actividadForm.get('parametro').controls; let i = index">
                <div class="form-group row">
                    <label for="{{parametro.value.nombreParametro}}"
                        class="col-sm-5 col-form-label text-right"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}</b>
                    </label>
                    <div class="col-sm-5 col-form-label">
                        <p>{{parametro.value.valor}}</p>

                    </div>

                </div>

            </div>

            <div class="form-group row">
                <label for="observacion" class="col-sm-5 col-form-label text-right"><b>Observación:</b>
                </label>
                <div class="col-sm-5 col-form-label">
                    <p>{{actividadForm.value.observacion}}</p>
                </div>
            </div>

        </div>
    </div>
    <!-- recomendacion -->
    <div class="card m-3" *ngIf="recomendacionForm != null" [formGroup]="recomendacionForm">
        <div class="card-header">
            <b>
                {{ recomendacionForm.value.nombreRecomendacion.charAt(0).toUpperCase() +  recomendacionForm.value.nombreRecomendacion.slice(1) }}
            </b>
        </div>
        <div class="card-body">

            <div class="form-group row">
                <label for="fecha" class="col-sm-5 col-form-label text-right"><b>Fecha y hora:</b>
                </label>
                <div class="col-sm-5 col-form-label">
                    <p>{{recomendacionForm.value.fchRecomDetalle}}</p>

                </div>
            </div>
            <div *ngFor="let parametro of recomendacionForm.get('parametro').controls; let i = index">
                <div class="form-group row">
                    <label for="{{parametro.value.nombreParametro}}"
                        class="col-sm-5 col-form-label text-right"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}</b>
                    </label>
                    <div class="col-sm-5 col-form-label">
                        <p>{{parametro.value.valor}}</p>

                    </div>

                </div>

            </div>

            <div class="form-group row">
                <label for="observacion" class="col-sm-5 col-form-label text-right"><b>Observación:</b>
                </label>
                <div class="col-sm-5">
                    <p>{{recomendacionForm.value.observacion}}</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="fecha" class="col-sm-5 col-form-label text-right"><b>Ing. Agrónomo:</b>
                </label>
                <div class="col-sm-5 col-form-label">
                    <p>{{recomendacionForm.value.nombreUsuario.charAt(0).toUpperCase() + recomendacionForm.value.nombreUsuario.slice(1)}}</p>

                </div>
            </div>

        </div>
    </div>
    <button [routerLink]="['/recomendaciones/libroDeCampo']"
        class="btn btn-secondary float-left">Volver</button>
    <div [hidden]="!postSuccess" class="alert alert-success alert-dismissible" role="alert">
        ¡ Actividad Eliminada exitosamente !
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div [hidden]="!postError" class="alert alert-danger">
        {{ postErrorMessage }}
    </div>


</main>