<div class="limiter animated fadeInLeft ">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="login( loginForm )" #loginForm="ngForm"
                class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title ">
                    <img class="mb-4" src="../../../../assets/img/Logo AgronoMe.png" alt="" width="50%">
                </span>
                <span class="login100-form-title p-b-51">
                    Recuperar contraseña
                </span>

                <div *ngIf="token == '' " class="login100-form">
                    <div class="wrap-input100 m-b-16">
                        <input class="input100" type="text" name="nombreUsuario" placeholder="Ingrese su nombre de usuario.">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit" id="recuperar">
                            Recuperar
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>