<div [ngSwitch]="tokenExist">
    <div *ngSwitchCase="true">

        <div class="d-flex" id="wrapper">
            <app-sidebar *ngIf="tokenExist" ></app-sidebar>


            <!-- Page Content -->
            <div id="page-content-wrapper">
                <app-navbar (ValidateTokenFather2)="validateToken($event)" *ngIf="tokenExist"  ></app-navbar>


                <div class="container-fluid">
                    <router-outlet></router-outlet>

                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
    </div>

    <div *ngSwitchCase="false">

        <!-- <app-activar *ngIf="activar" (ValidateTokenFather)="validateToken($event)"></app-activar>
        <app-reset *ngIf="recuperar" (ValidateTokenFather)="validateToken($event)"></app-reset> -->
        <app-login  (ValidateTokenFather)="validateToken($event)"></app-login>
        <!-- *ngIf="login" -->
<!-- /activar/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjoiZnJhZCIsInJvbCI6ImVuY2FyZ2Fkb2ZpbmNhIiwianRpIjoiODAyMjBkMzctZDUxMC00MGUyLThhZWQtOTBkY2YwOTcyYTY0In0.8VosrjNzgvfAuttkXYnyCF0KDd-INNQ8sLeo10qr2L4 -->
    </div>

</div>