<div [ngSwitch]="tokenExist">
    <div *ngSwitchCase="true">

        <div class="wrapper" id="wrapper">
            <app-sidebar *ngIf="tokenExist" ></app-sidebar>


            <!-- Page Content -->
            <div class="main-panel">
                <app-navbar (ValidateTokenFather2)="validateToken($event)" *ngIf="tokenExist"  ></app-navbar>

                <div class="content">
                    <router-outlet></router-outlet>

                </div>
                <!-- <div class="container-fluid"> -->

                <!-- </div> -->
            </div>
            <!-- /#page-content-wrapper -->

        </div>
    </div>

    <div *ngSwitchCase="false">

        <app-login *ngIf="!tokenExist" (ValidateTokenFather)="validateToken($event)"></app-login>

    </div>

</div>