<div [ngSwitch]="action">
    <div *ngSwitchCase="'dashboard'">

        <div class="wrapper" id="wrapper">
            <app-sidebar></app-sidebar>


            <!-- Page Content -->
            <div class="main-panel">
                <app-navbar (ValidateTokenFather2)="validateToken($event)" ></app-navbar>

                <div class="content">
                    <router-outlet></router-outlet>

                </div>
                <!-- <div class="container-fluid"> -->

                <!-- </div> -->
            </div>
            <!-- /#page-content-wrapper -->

        </div>
    </div>

    <div *ngSwitchCase="'login'">
        <app-login (ValidateTokenFather)="validateToken($event)"></app-login>

    </div>

    <div *ngSwitchCase="'activar'">
        <app-activar></app-activar>
    </div>

    <div *ngSwitchCase="'reset'">
        <p>reset</p>
        <app-reset></app-reset>
    </div>


</div>