<main role="main" class="container mt-4" [ngSwitch]="step" *ngIf="this.codActividad != null">
    <h1 class="display-4">{{ nombreActividad }} </h1>
    <form [formGroup]="registrarActividadForm" (ngSubmit)="onSubmit()" *ngIf="
    registrarActividadForm != null ">
        <div *ngSwitchCase="'0'">
            <div class="display-4" style="width: 100%;">
                Seleccionar actividad
            </div>
            <div class="card-columns m-3">
                <div *ngFor="let button of configurationButtons">
                    <div *ngIf="button[2]" class="card border-gray col-3 m-3 text-center"
                        style="min-width: 250px; min-height: 250px;">
                        <h5 class="card-title mt-4">
                            <fa-icon class="mb-4 mt-2" [icon]="button[1]" size="5x"
                                [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
                        </h5>
                        {{ button[0] }}
                        <h6>

                        </h6>
                        <div class="card-body">
                            <button class="btn btn-primary text-light"
                                (click)="registrarActividad(button[0],button[3])">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div *ngSwitchCase="'1'">
            <div class="card m-3">
                <div class="card-header">
                    <b>Datos del campo</b>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="staticFecha" class="col-sm-2 col-form-label font-weight-bold">Fecha y hora de la
                            actividad *</label>
                        <div class="col-3">
                            <ngb-timepicker formControlName="tempHora"></ngb-timepicker>
                        </div>
                        <div class="col-7">
                            <ngb-datepicker #dp formControlName="tempFecha" (select)="onDateSelection($event)"
                                (navigate)="date = $event.next" [minDate]="{year: 2010, month: 1, day: 1}"
                                [maxDate]="{year: 2048, month: 12, day: 31}" [markDisabled]="isDisabled">
                            </ngb-datepicker>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticFecha" class="col-sm-2 col-form-label font-weight-bold">Libro de campo</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="libro">
                                <option *ngFor=" let libro of librosDeCampo" [value]="libro.codLibroCampo">
                                    {{ libro.nombreLibroCampo }} </option>
                            </select>
                            <!-- <button type="button" class="btn btn-success mt-4" (click)="openVerticallyCentered(content)"
                                disabled>Añadir
                                parcela</button> -->
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Añadir parcela</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-check">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="parcela1" name="parcela1">
                            <label class="custom-control-label" for="parcela1">Parcela 1</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="parcela2" name="parcela2">
                            <label class="custom-control-label" for="parcela2">Parcela 2</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="parcela3" name="parcela3">
                            <label class="custom-control-label" for="parcela3">Parcela 3</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
                    <button type="button" class="btn btn-success" (click)="modal.close('Ok click')">Agregar</button>
                </div>
            </ng-template>

            <div class="card m-3">
                <div class="card-header">
                    <b>Actividad {{ nombreActividad }}</b>
                </div>
                <div class="card-body">

                    <div *ngFor="let parametro of registrarActividadForm.get('parametro').controls; let i = index"
                        formArrayName="parametro">
                        <div [ngSwitch]="parametro.value.tipo">
                            <div *ngSwitchCase="'string'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control input-parametros" type="text"
                                        id="{{parametro.value.nombre}}" placeholder="Ingrese su texto aqui."
                                        [value]="parametro.value.valor" (change)="actualizarValorParametro($event)"
                                        required />
                                </div>
                                <!-- formControlName="{{parametro.codParam}}" -->
                            </div>
                            <div *ngSwitchCase="'time'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control input-parametros" type="text"
                                        id="{{parametro.value.nombre}}" placeholder="Ingrese su texto aqui."
                                        [value]="parametro.value.valor" (change)="actualizarValorParametro($event)"
                                        required />
                                </div>
                                <!-- formControlName="{{parametro.codParam}}" -->
                            </div>
                            <div *ngSwitchCase="'date'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b>
                                </label>
                                <div class="col-sm-7">
                                    <input class="form-control input-parametros" type="text"
                                        id="{{parametro.value.nombre}}" placeholder="Ingrese su texto aqui."
                                        [value]="parametro.value.valor" (change)="actualizarValorParametro($event)"
                                        required />
                                </div>
                                <!-- formControlName="{{parametro.codParam}}" -->
                            </div>
                            <div *ngSwitchCase="'int'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control input-parametros" type="number"
                                        id="{{parametro.value.nombre}}" placeholder="Ingrese su numero aqui."
                                        [value]="parametro.value.valor" (change)="actualizarValorParametro($event)"
                                        required />
                                    <!-- formControlName="{{parametro.codParam}}" -->
                                </div>
                            </div>
                            <div *ngSwitchCase="'double'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control input-parametros" type="number"
                                        id="{{parametro.value.nombre}}" placeholder="Ingrese su numero aqui."
                                        [value]="parametro.value.valor" (change)="actualizarValorParametro($event)"
                                        required />
                                    <!-- formControlName="{{parametro.codParam}}" -->
                                </div>
                            </div>
                            <div *ngSwitchCase="'combo'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b></label>
                                <div class=" col-sm-7">
                                    <select class="form-control" id="inputGroupSelect01"
                                        (click)="procesarOpciones($event)" style="height: 45px;">
                                        <option selected>Seleccione una opción</option>
                                        <option *ngFor="let opcion of parametro.value.opcion; let i = index"
                                            [value]="opcion.cod">
                                            {{opcion.nombre}}</option>
                                    </select>
                                </div>
                            </div>
                            <div *ngSwitchCase="'float'" class="form-group row">
                                <label for="{{parametro.value.nombre}}"
                                    class="col-sm-3 col-form-label"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b></label>
                                <div class="col-sm-7">
                                    <input class="form-control input-parametros" type="number"
                                        id="{{parametro.value.nombre}}" placeholder="Ingrese su numero aqui."
                                        [value]="parametro.value.valor" (change)="actualizarValorParametro($event)"
                                        required />
                                    <!-- formControlName="{{parametro.codParam}}" -->
                                </div>
                            </div>
                            <div *ngSwitchCase="'enumeration'" class="form-group">
                                <label for="{{parametro.value.nombre}}"><b>{{parametro.value.nombre.charAt(0).toUpperCase() + parametro.value.nombre.slice(1)}}
                                        *</b></label>
                                <div *ngFor="let opcion of parametro.value.opcion; let i = index">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input input-parametros" [id]="i"
                                            (value)="parametro.value.valor">
                                        <label class="custom-control-label"
                                            [for]="i">{{opcion.nombre.charAt(0).toUpperCase() + opcion.nombre.slice(1)}}</label>
                                    </div>
                                </div>
                                <!-- <input class="form-control" type="number" id="{{parametro.value.nombre}}"
                                    placeholder="Ingrese su numero aqui." /> -->
                                <!-- formControlName="{{parametro.codParam}}" -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card m-3">
                <div class="card-header">
                    <b>Otros datos</b>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Observaciones</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            formControlName="observacion" required></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <div [hidden]="!postError" class="alert alert-danger">
                        {{ postErrorMessage }}
                    </div>
                    <button type="button" class="btn {{cancelarClass}} btn-lg float-left" (click)="atras()">
                        {{backButtonText}}
                    </button>
                    <button type="button" class="btn {{guardarClass}} btn-lg float-right" (click)="siguiente()">
                        {{ nextButtonText }}</button>
                </div>
            </div>
        </div>
    </form>

    <div [hidden]="!postSuccess" class="alert alert-success alert-dismissible" role="alert">
        ¡ Actividad Registrada exitosamente !
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="alert alert-info italic" role="alert">
        Los campos marcados con * son obligatorios.
    </div>
</main>