<div class="content">
    <div class="row">
        <div class="col">
            <button [routerLink]="['/seguridad/crearUsuario']" type="button" class="btn btn-lg btn-success m-4">Crear
                Usuario</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row animated fadeIn" *ngIf="mostrarTabla">
                        <div class="col">
                            <app-table [tableData]="this.usuariosTabla"></app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>