
    <main role="main">
    
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron jumbotron-modified mt-3">
            <div class="container">
                <h1 class="display-3 text-white">Conoce AgronoMe</h1>
                <h4 class=" uk-text-bold text-light lead">“Sistema de Control y Seguimiento de Cultivos” es el Proyecto Final de la Carrera Ingeniería en Sistema de Información, Facultad Regional Mendoza.
    
                </h4>
                <!-- <p><a class="btn btn-primary btn-lg m-3" href="#" role="button">Saber más »</a></p> -->
            </div>
        </div>
    
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Gestión de Fincas</h2>
                    <p>La solución que se implementa es mediante un sistema (AgronoMe) que le permite al Encargado dar de alta su finca, añadir los cultivos pertenecientes a la misma y generar un libro de campo donde se detallan todas las actividades pertinentes
                        para ese cultivo. </p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">Saber más »</a></p> -->
                </div>
                <div class="col-md-4">
                    <h2>Recomendaciones</h2>
                    <p>Así mismo el Ingeniero Agrónomo asociado a esa finca podrá visualizar las actividades desarrolladas en el cultivo, realizar recomendaciones de distinta índole y hasta realizar planificaciones de cultivo junto al Encargado. </p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">Saber más »</a></p> -->
                </div>
                <div class="col-md-4">
                    <h2 class="">Seguimiento</h2>
                    <p>El sistema cuenta con una aplicación web, ofreciendo una interfaz intuitiva y accesible desde cualquier dispositivo con conexión a Internet, tanto para que el Encargado de Finca gestione sus actividades y cultivos, y el Ingeniero Agrónomo
                        pueda seguir el estado de los cultivos de la finca.
                    </p>
                    <!-- <p><a class="btn btn-secondary" href="#" role="button">Saber más »</a></p> -->
                </div>
            </div>
    
            <hr>
    
        </div>
        <!-- /container -->
    
    </main>

<!-- <div class="d-flex" id="wrapper"  >
    <app-sidebar *ngIf="tokenExist"></app-sidebar>

 -->
    <!-- Page Content -->
<!--     <div id="page-content-wrapper">
        <app-navbar *ngIf="tokenExist"></app-navbar>


        <div class="container-fluid">
            <router-outlet></router-outlet>

        </div>
    </div> -->
    <!-- /#page-content-wrapper -->

<!-- </div> -->