<div class="row">
    <div class="col">
        <button type="button" class="btn btn-lg btn-success m-4">Crear Parámetros</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-table [tableData]="[['Nombre', 'Activo', 'Accion', ''],['Fitosanitaria','Si','#/editar','#/Desactivar'],['Fitosanitaria','Si','#/editar','#/Desactivar'],['Fitosanitaria','Si','#/editar','#/Desactivar']]"></app-table>
    </div>
</div>

<div class="row">
    <div class="col">
        <button [routerLink]="['/configuracion']" type="button" class="btn btn-secondary btn-md">Volver</button>
    </div>
</div>