<div class="d-flex" id="wrapper">
    <app-sidebar></app-sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-navbar></app-navbar>


        <div class="container-fluid">
            <h1 class="mt-4">router-outlet</h1>

            <app-libro-de-campo></app-libro-de-campo>
            <app-table [tableData]="[['Fecha', 'Actividad', 'Cuadro de campo', 'Usuario', 'Detalles'],['10/05/2019','Riego','C11','Fsanchez'],['10/05/2019','Riego','C11','Fsanchez'],['10/05/2019','Riego','C11','Fsanchez']]"></app-table>
            <router-outlet></router-outlet>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>