<div class="table-responsive {{ tableCss }}">
    <table class="table table-hover">
        <thead>
            <tr *ngFor="let dataHeader of tableDataHeader">
                <th scope="col" *ngFor="let col of dataHeader">{{ col }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataRow of tableDataRow">
                <td *ngFor="let row of dataRow">
                    <div *ngIf="row[0]!='#'; else template"> {{ row }} </div>
                    <ng-template #template>
                        <button type="button" routerLink="{{ row.substr(1) }}" routerLinkActive="active" class="list-group-item list-group-item-action">{{ row.substr(2) }}</button>
                    </ng-template>


                </td>
            </tr>

        </tbody>
    </table>
</div>