<div class="table-responsive {{ tableCss }} m">
    <table class="table table-hover">
        <thead>
            <tr *ngFor="let dataHeader of tableDataHeader">
                <th scope="col" *ngFor="let col of dataHeader">{{ col }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dataRow of tableDataRow">
                <td *ngFor="let row of dataRow">

                    <span [ngSwitch]="row[0]">
                        <div *ngSwitchCase="'*'">
                            <button type="button" routerLink="{{ row.substr(1) }}" routerLinkActive="active" class="btn btn-primary btn-sm"><fa-icon [icon]="faEdit"></fa-icon></button>
                        </div>
    
                        <div *ngSwitchCase="'-'">
                                <button type="button" routerLink="{{ row.substr(1) }}" routerLinkActive="active" class="btn btn-primary btn-sm"><fa-icon [icon]="faPowerOff"></fa-icon></button>
                            </div>

                        <div *ngSwitchCase="'#'">
                            <button type="button" routerLink="{{ row.substr(1) }}" routerLinkActive="active" class="list-group-item list-group-item-action">{{ row.substr(2) }}</button>
                        </div>
                    
                        <p *ngSwitchDefault>
                            {{row.charAt(0).toUpperCase() + row.slice(1)}}
                        </p>
                    </span>



                </td>
            </tr>

        </tbody>
    </table>
</div>