<h1 *ngIf="subscribedParam != '' "> {{ subscribedParam }} </h1>

<div class="limiter animated fadeInLeft ">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="login( loginForm )" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title ">
                    <img class="mb-4" src="../../../../assets/img/Logo AgronoMe.png" alt="" width="50%">
                </span>
                <div *ngIf="response">
                    <div *ngIf="userActivated">
                        <span class="login100-form-title p-b-51">
                            {{succesMessage}}
                        </span>

                        <div class="container-login100-form-btn m-t-17">
                            <a class="btn-primary login100-form-btn" href="/login" role="button">Ingresar</a>
                        </div>
                    </div>
                    <div *ngIf="!userActivated">
                        <span class="login100-form-title p-b-51">
                            {{errorMessage}}
                        </span>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>