<div class="row">
    <div class="col">
        <button [routerLink]="['/recomendacion/registrarRecomendacion']" type="button"
            class="btn btn-lg btn-success m-4">Registrar Recomendacion</button>
    </div>
</div>
<h1 class="display-4" *ngIf="mostrarTablaARecomendar">
    Actividades a recomendar
</h1>

<div class="row" *ngIf="mostrarTablaARecomendar">
    <div class="col">
        <app-table [tableData]="this.aRecomendarArray"></app-table>
    </div> 
</div>
<h1 class="display-4" *ngIf="mostrarTablaRecomendadas">
    Actividades recomendadas
</h1>
<div class="row" *ngIf="mostrarTablaRecomendadas">
    <div class="col">
        <app-table [tableData]="this.recomendadasArray"></app-table>
    </div>
</div>