<div class="content">
    <div class="row" *ngIf="rol == 'ingeniero' " >
        <div class="col">
            <h4 class="display-4 m-3" *ngIf="mostrarTablaARecomendar">
                Actividades a recomendar
            </h4>
        </div>
    </div>
    <div class="row" *ngIf="rol == 'ingeniero' ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" *ngIf="mostrarTablaARecomendar">
                        <div class="col">
                            <app-table [tableData]="this.aRecomendarArray"></app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4 class="display-4 m-3" *ngIf="mostrarTablaRecomendadas">
                Recomendaciones realizadas
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row" *ngIf="mostrarTablaRecomendadas">
                        <div class="col">
                            <app-table [tableData]="this.recomendadasArray"></app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>