<h3 class="display-4">Reporte de Recomendación</h3>
<main role="main" class="container mt-1">
    <div class="card">
        <div class="card-body ">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <label for="exampleInputEmail1"><b>Fecha desde: </b></label>
                            <ngb-datepicker [(ngModel)]="fechaDesde" [minDate]="{year: 2010, month: 1, day: 1}"
                                [maxDate]="{year: 2048, month: 12, day: 31}" [markDisabled]="isDisabled" class="m-1">
                            </ngb-datepicker>
                        </div>
                        <div class="col-sm">
                            <label for="exampleInputEmail1"><b>Fecha hasta: </b></label>
                            <ngb-datepicker [(ngModel)]="fechaHasta" [minDate]="{year: 2010, month: 1, day: 1}"
                                [maxDate]="{year: 2048, month: 12, day: 31}" [markDisabled]="isDisabled" class="m-1">
                            </ngb-datepicker>
                        </div>

                    </div>
                </div>

                <button type="button" class="btn btn-success float-right" (click)="onSubmit()">Generar</button>
            </div>
        </div>
    </div>
</main>
<main role="main" class="container mt-1">
    <div>
        <div>
            <div style="display: block" *ngIf="mostrarGrafico">
                <div class="chart">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                        [options]="pieChartOptions" [plugins]="pieChartPlugins" [colors]="pieChartColors"
                        [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <h5 *ngIf="mostrarGrafico"><i>Desde {{fechaDesde.year + "-" + fechaDesde.month + "-" + fechaDesde.day }} hasta
            {{fechaHasta.year + "-" + fechaHasta.month + "-" + fechaHasta.day }}</i></h5>
</main>