<div class="row">
    <div class="col">
        <button [routerLink]="['/actividades/registrarActividad']" type="button" class="btn btn-lg btn-success m-4">Registrar Actividad</button>
    </div>
</div>

<div class="row" *ngIf="mostrarTabla" >
    <div class="col">
        <app-table [tableData]="this.actividadesArray" ></app-table>
    </div>
</div>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-warning btn-md" (click)="imprimir()" >imprimir()</button>
    </div>
</div>