<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Actividades creadas</h4>
                </div>
                <div class="card-body" *ngIf="mostrarTabla">
                    <app-table [tableData]="this.actividadesArray"></app-table>
                </div>
            </div>
            <button [routerLink]="['/actividades/libroDeCampo']" class="btn btn-secondary float-left">Volver</button>
        </div>
    </div>
</div>